<div style="height: 700px; position: relative; overflow: auto;" ng-controller="nav">
	<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu">
				<li class="header">主导航</li>
				<li class="treeview"><a href=""> <i class="fa fa-dashboard"></i>
						<span>图书管理</span> <i class="fa fa-angle-right pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li ng-click="addBook()"><a href=""><i class="fa fa-circle-o"></i>新增图书</a></li>
						<li ng-click="bookList()"><a href=""><i class="fa fa-circle-o"></i>图书列表</a></li>
					</ul></li>
				<li class="treeview"><a href=""> <i class="fa fa-files-o"></i>
						<span>新消息</span> <span class="label label-primary pull-right">4</span>
				</a>
					<ul class="treeview-menu" style="display: none;">
						<li><a href=""><i class="fa fa-circle-o"></i> 顶部导航</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 盒子布局</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 固定布局</a></li>
						<li class=""><a href=""><i class="fa fa-circle-o"></i>
								折叠侧边栏</a></li>
					</ul></li>
				<li><a href=""> <i class="fa fa-th"></i> <span>新订单</span> <small
						class="label pull-right label-info">新的</small>
				</a></li>
				<li class="treeview"><a href=""> <i class="fa fa-pie-chart"></i>
						<span>快递查询</span> <i class="fa fa-angle-right pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href=""><i class="fa fa-circle-o"></i> ChartJS</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> Morris</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> Flot</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> Inline
								charts</a></li>
					</ul></li>
				<li class="treeview"><a href=""> <i class="fa fa-laptop"></i>
						<span>仓库管理</span> <i class="fa fa-angle-right pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href=""><i class="fa fa-circle-o"></i> 一般</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> Icons图标</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 按钮</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 滑块</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 时间表</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 模态框</a></li>
					</ul></li>
				<li class="treeview"><a href=""> <i class="fa fa-edit"></i>
						<span>销售业绩</span> <i class="fa fa-angle-right pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href=""><i class="fa fa-circle-o"></i> 一般表单</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 高级表单</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 可编辑表单</a></li>
					</ul></li>
				<li class="treeview"><a href=""> <i class="fa fa-table"></i>
						<span>表格</span> <i class="fa fa-angle-right pull-right"></i>
				</a>
					<ul class="treeview-menu">
						<li><a href=""><i class="fa fa-circle-o"></i> 简单表格</a></li>
						<li><a href=""><i class="fa fa-circle-o"></i> 时间表格</a></li>
					</ul></li>
				<li><a href=""> <i class="fa fa-calendar"></i> <span>日历</span>
						<small class="label pull-right label-danger">3</small>
				</a></li>
				<li><a href=""> <i class="fa fa-envelope"></i> <span>邮箱</span>
						<small class="label pull-right label-warning">12</small>
				</a></li>
				<li><a href=""><i class="fa fa-book"></i> <span>账单</span></a></li>
				<li class="header">标签</li>
				<li><a href=""><i class="fa fa-circle-o text-red"></i> <span>重要</span></a></li>
				<li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>警告</span></a></li>
				<li><a href=""><i class="fa fa-circle-o text-aqua"></i> <span>通知</span></a></li>
			</ul>
		</section>
	</aside>

	<script src="js/jquery.min.js"></script>
	<script src="js/sidebar-menu.js"></script>
	<script>
	$.sidebarMenu($('.sidebar-menu'))
</script>
</div>