	<div class="container" ng-controller="register">
		<div class="row toTop">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form name="myForm" ng-cloak>
					<div class="inputBox">
						<div class="toBottom">
							<div class="input-group">
								<span class="input-group-addon radius">手机号码</span> <input
									type="text" class="form-control radius" name="tel"
									placeholder="手机号" ng-model="tel" ng-maxlength="11"
									ng-minlength="11" required name="tel"
									ng-pattern="/^1[34578]\d{9}$/"> <div
									class="glyphicon glyphicon-ok form-control-feedback"
									ng-show="myForm.tel.$dirty && myForm.tel.$valid"></div>
							</div>
						<div class="alert alert-danger"
							ng-show="myForm.tel.$error.required && myForm.tel.$touched">
							<strong>请注意！</strong> 手机号不能为空。
						</div>
							<div class="alert alert-danger"
								ng-show="myForm.tel.$error.pattern">用户名必须为6-18个字母、数字或下划线</div>
						</div>
						<div class="toBottom">
							<div class="input-group">
								<span class="input-group-addon radius">输入密码</span> <input
									name="password1" type="password" class="form-control radius"
									ng-model="password1" ng-minlength="8" required> <span
									class="glyphicon glyphicon-ok form-control-feedback"
									ng-show="myForm.password1.$dirty && myForm.password1.$valid"></span>
							</div>
							<div class="alert alert-danger"
								ng-show="myForm.password1.$error.minlength && myForm.password1.$touched">
								<strong>请注意！</strong> 密码长度不能少于八位。
							</div>
							<div class="alert alert-danger"
								ng-show="myForm.password1.$error.required && myForm.password1.$touched">
								<strong>请注意！</strong> 密码不能为空。
							</div>
						</div>
						<div class="toBottom">
							<div class="input-group">
								<span class="input-group-addon radius">确认密码</span> <input
									type="password" name="password2" class="form-control radius" ng-model="password2" required><span
									class="glyphicon glyphicon-ok form-control-feedback"
									ng-show="password1==password2 && myForm.password2.$dirty"></span>
							</div>
							<div class="alert alert-danger"
								ng-show="password1!=password2 && myForm.password2.$dirty">
								<strong>请注意！</strong> 两次输入的密码不一致。
							</div>
						</div>
						<div class="toBottom">
							<button type="button"
								class="btn btn-primary btn-lg btn-block radius" ng-click="registerButton()">注册</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
